<!--
  Generated template for the Lista2 page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lista2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-card *ngFor="let farmacias of farmacias let index = index"
    (click)="mostrarFarmacia(restaurante, rid)">        
      <div class="farmacia">
      <ion-row text-center>
        <ion-col col-2>
          <img *ngIf="(abierto[index] == 1)"  src="{{farmacias.image[0].imagen0}}">
          <img *ngIf="!(abierto[index] == 1)"  src="{{farmacias.image[2].imagen2}}">
        </ion-col>
        <ion-col>            
                <h2><b>{{farmacias.nombre}}</b></h2>
                  {{farmacias.direccion}}<br>
                  <p *ngIf="isLV"> Horario LaV: {{farmacias.horario.lv[0].start1}} a {{farmacias.horario.lv[1].end1}} y {{farmacias.horario.lv[2].start2}} a {{farmacias.horario.lv[3].end2}}</p>
                  <p *ngIf="isS"> Horario Sabado: {{farmacias.horario.s[0].start1}} a {{farmacias.horario.s[1].end1}} y {{farmacias.horario.s[2].start2}} a {{farmacias.horario.s[3].end2}}</p>
                  <p *ngIf="isD"> Horario Domingo: {{farmacias.horario.d[0].start1}} a {{farmacias.horario.d[1].end1}} y {{farmacias.horario.d[2].start2}} a {{farmacias.horario.d[3].end2}}</p>
                   <!-- <p> {{isOpen}}{{today}}</p> -->
                  <h2 *ngIf="(abierto[index] == 1)">Abierto</h2>
                  <h2 *ngIf="!(abierto[index] == 1)" > Cerrado</h2>
              
        </ion-col>
      </ion-row>   
  </div>
   
  </ion-card>

</ion-content>
